.App {
  text-align: center;
}

button {
  height: 60px;
  width: 100px;  
  margin-top: 10%;
  border-radius: 20%; 
  background-color: rgb(34, 167, 219);
  color: white; 
  font-size: 30px; 
}

h1 {
  height: 60px;
  width: 100px;  
  margin-left: 43%;
  margin-top: 20%;
  border-radius: 20%; 
  background-color: rgb(34, 167, 219);
  color: white; 
  font-size: 30px;
}